build/
vendor/
coverage/
tmp/
.idea/
.env
.DS_Store
composer.lock
composer.phar
.phpunit.result.cache
composer.local.json
composer.local.json_
.php-cs-fixer.cache
composer.local.old
.vscode
pest.log
NOTES.md
examples/playground/.auth0.json
examples/playground/auth0
