version: 2.1

commands:
  prepare:
    steps:
      - checkout
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.json" }}
            - composer-v1-
      - run: composer update -n --prefer-dist
      - save_cache:
          key: composer-v1-{{ checksum "composer.json" }}
          paths:
            - vendor
  test:
    steps:
      - run: ./vendor/bin/phpunit
jobs:
  php_71:
    docker:
      - image: circleci/php:7.1
    steps:
      - prepare
      - test
  php_72:
    docker:
      - image: circleci/php:7.2
    steps:
      - prepare
      - test
  php_73:
    docker:
      - image: circleci/php:7.3
    steps:
      - prepare
      - test
  snyk:
    docker:
      - image: snyk/snyk-cli:composer
    steps:
      - persist_to_workspace:
          root: .
          paths:
            - composer.*
            - .snyk
      - attach_workspace:
          at: .
      - run: snyk test
      - run:
          command: |
            if [[ "${CIRCLE_BRANCH}" == "master" ]]
            then
            snyk monitor --org=auth0-sdks
            fi
          when: always

#Each workflow represents a Github check
workflows:
  snyk:
    jobs:
      - php_71
      - php_72
      - php_73
      - snyk:
          # Must define SNYK_TOKEN env
          context: snyk-env
          requires:
            - php_71
